@model IEnumerable<NoPrecin.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Produtos</h1>

<p>
    <a asp-action="Criar">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (true)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendido)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <b>Nenhum produto encontrado</b>
                </td>
                <td>
            </tr>
        }
    </tbody>
</table>
